#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: grey;
    text-align: center;

}

fieldset{
  margin-left: 500px;
  margin-right: 500px;
  background-color: pink;
  margin-top: 60px;
}
legend{
  font-size: 40px;
  text-align: left;
}