body {
  color: rgba(26, 26, 26, .7);
  font-family: 'Lora', serif;
  margin: 0;
}

#flex-container{
  display: flex;
  justify-content: space-between;
  height: 200px;
  flex-direction: column;

}
nav{
  background-color: blue;
  height: 70px;
}
header{
  background-color: grey  ;
  height: 400px;
}
#details img {
  width: 100%;
}
#details h1 {
  color: rgb(61, 153, 145);
  font-weight: normal;
  letter-spacing: 2px;
}
footer p {
  color: rgba(255, 255, 255, .4);
}
#main p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 125px;
  width: 60%;
}

#main h1 {
  font-size: 28px;
  font-weight: normal;
  color: rgba(26,26,26,.9);
}

p {
  line-height: 36px;
}

section {
  margin: 100px 125px;
  text-align: center;
}
footer{
  background-color: black;
  height: 300px;

}
p{
  background-color: grey;
  height: 200px;
  margin-bottom: 70px;
  text-align: center;

}
div.col{
  background-color: green;
  border: 2px black;
  width: calc(50%-10px);
}
